[submodule "scripts/export-compile-commands"]
	path = scripts/export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
